<div class="row">
    <h2>Experiencia Laboral</h2>
 
    <div class="col-lg-12">
        <ul>
            <li><h2>Renault SA</h2> - <h3>2023 - Presente</h3></li>
            <p>Analista de Control y Gestión - Research & Development - Latam</p>
        </ul>
        <ul>
            <li><h2>Aguas Cordobesas SA</h2> - <h3>2011-2023</h3></li>
            <p>Analista de Control de Gestión - Procesos Cobranzas y Dsitribución</p>
        </ul>
        <ul>
            <li><h2>GDS Net Consultora</h2> - <h3>2011</h3></li>
            <p>Analista de Estudios de Mercado</p>
        </ul>
    </div>
</div>
